<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaomin.mapper.UserMapper">
    <resultMap id="user" type="com.xiaomin.pojo.User"/>
    <parameterMap id="user" type="com.xiaomin.pojo.User"/>

    <select id="getAllUser" resultMap="user">
        SELECT  * FROM user_tb
    </select>

    <insert id="addUser" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        insert into user_tb (userName, password, gender, email, birth, identity, status)
        values (#{userName}, #{password}, #{gender}, #{email}, #{birth}, #{identity}, ifnull(#{status},0));
    </insert>

    <update id="updateUser" parameterType="User">
        update user_tb
        set userName = ifnull(#{userName},userName),
            password = ifnull(#{password},password),
            gender = ifnull(#{gender},gender),
            email = ifnull(#{email},email),
            birth = ifnull(#{birth},birth),
            identity = ifnull(#{identity},identity),
            status = ifnull(#{status},status)
        where id=#{id};
    </update>

    <delete id="deleteUserById" parameterType="User">
        delete from user_tb where id=#{id};
    </delete>
</mapper>